<form class="form-horizontal" ng-submit="executeRequest()">

    <div class="form-group" align="center">
        <h2>Регистрационна форма</h2>
    </div>

    <!-- Ugly work arround for preventin autofill forms --> 
    <input style="display:none" type="email" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakeusernameremembered"/>

    <div class="form-group has-error has-feedback" id="emailFieldId">
        <label for="email" class="col-sm-3 control-label">Емайл: </label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="email" ng-blur="checkEmail($event)"
                 placeholder="Емайл" ng-model="email" aria-describedby="emailStatus">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="!isValidEmail"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="isValidEmail"></span>
        </div>
    </div>
    
    <!-- Ugly work arround for preventin autofill forms --> 
    <input style="display:none" type="email" name="fakeusernameremembered"/>
    <input style="display:none" type="password" name="fakeusernameremembered"/>
    
    <div class="form-group has-error has-feedback" id="passwordFieldId">
        <label for="password" class="col-sm-3 control-label">Парола: </label>
        <div class="col-sm-6">
            <input type="password" class="form-control" ng-blur="checkPassword($event)"
                 id="password" placeholder="Парола" ng-model="password">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="!isValidPassword"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="isValidPassword"></span>
        </div>
    </div>
    
    <div class="form-group has-error has-feedback" id="confirmPasswordFieldId">
        <label for="password" class="col-sm-3 control-label">Потвърдете паролата: </label>
        <div class="col-sm-6">
            <input type="password" class="form-control" ng-blur="checkConfirmedPassword($event)"
                 id="confirmed_password" placeholder="Потвърдете паролата" ng-model="confirmedPassword">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="!isPasswordConfirmed"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="isPasswordConfirmed"></span>
        </div>
    </div>
    
    <div class="form-group has-error has-feedback" id="firstNameFieldId">
        <label for="firstname" class="col-sm-3 control-label">Име: </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-blur="checkFirstName($event)"
                 id="firstname" placeholder="Име" ng-model="firstName">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="!isValidFirstName"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="isValidFirstName"></span>
        </div>
    </div>
    
    <div class="form-group has-error has-feedback" id="lastNameFieldId">
        <label for="lastname" class="col-sm-3 control-label">Фамилия: </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-blur="checkLastName($event)"
                 id="lastname" placeholder="Фамилия" ng-model="lastName">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="!isValidLastName"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="isValidLastName"></span>
        </div>
    </div>
    
    <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-6">
	       <div class="checkbox">
	           <label>
	               <input type="checkbox" value="{{ isPrivatePerson }}"
	                    ng-model="isPrivatePerson" ng-change="updateObjectFieldState()"> Частно лице
	           </label>
	       </div>
	    </div>
    </div>
    
    <div class="form-group" id="objectNameFieldId">
        <label for="password" class="col-sm-3 control-label">Име на фирмата: </label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-disabled="isPrivatePerson" ng-blur="checkObjectName($event)"
                id="object_name" placeholder="Име на фирмата" ng-model="objectName">
            <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-hide="isPrivatePerson || !isValidObjectName"></span>
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-hide="isPrivatePerson || isValidObjectName"></span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6" align="center">
            <button type="submit" class="btn btn-primary" ng-disabled="isButtonDisabled">Регистрация</button>
        </div>
    </div>
    
</form>