.footer {
	position: absolute;
	background-color: #474747;
	bottom: 0px;
	width: 100%;
	min-height: 25px;
	text-align: center;
	padding-top: 5px;
	margin-bottom: -45px;
	border-radius: 3px 3px 0px 0px;
	color: white;
}