<nav class="navbar navbar-tabs rs-navbar">
   <div class="container-fluid">

      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" uib-navbar-toggle data-toggle="collapse" data-target="#information-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="#/" style="color: white">Администрация</a>
      </div>

      <div class="collapse navbar-collapse" id="information-menu">
         <ul class="nav navbar-nav">
         
            <li class="dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"  uib-dropdown-toggle>Продукти <span class="caret"></span></a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                     <li><a class="menu-item" href="#/products/search">Търсене</a></li>
                     <li><a class="menu-item" href="#/products/creation">Създаване</a></li>
                     <li><a class="menu-item" href="#/products/edit">Редактиране</a></li>
                     <li><a class="menu-item" href="#/products/delete">Изтриване</a></li>
                     <li><a class="menu-item" href="#/products/review">Справка</a></li>
                  </ul>
            </li>
            
            <li class="dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle menu-item" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false"  uib-dropdown-toggle>Потребители <span class="caret"></span></a>
                  <ul class="dropdown-menu" uib-dropdown-menu>
                     <li><a class="menu-item" href="#/users/creation">Създаване</a></li>
                     <li><a class="menu-item" href="#/users/edit">Редактиране</a></li>
                     <li><a class="menu-item" href="#/users/delete">Изтриване</a></li>
                  </ul>
            </li>
            
            <li>
                <a class="menu-item" href="#/orders" ng-click="">Поръчки</a>
            </li>
            
            <li>
                <a class="menu-item" href="#/promotions" ng-click="">Промоции</a>
            </li>
            
            <li>
                <a class="menu-item" href="#/navigations" ng-click="">Навигациони менюта</a>
            </li>
            
         </ul>
      </div>

   </div>
</nav>