html, body {
    height: 100%;
}

/**********************************/
/* ***        index.php       *** */
/**********************************/

.application-content {
    min-height: 100%;
    position: relative;
}

.single-view-content {
	padding-bottom: 40px;   /* Height of the footer element */
}

.footer {
    color: #eee;
    bottom: 0px;
    height: 30px;
    min-width: 100%;
	padding-top: 5px;
    background: #333;
    position: absolute;
}

.content-container {
    float: right;
    padding-right: 32px;
    border-left: solid #d6d6c2 0.5px;
}




/**********************************/
/* ***     template.html      *** */
/**********************************/

.nav-ul {
    text-align: center;
}

.rs-navbar {
    margin: 0px;
    padding: 0px; 
    border-radius: 0px; 
    background-color: #FF3737;
}

.rs-active-links {
    text-decoration: underline;	
}

.nav-ul li a:hover {
    border-radius: 0px;
}

.nav-bar-link-list {
    min-width: 100%;
    border-radius: 0px;
}

.nav-link-container {
    float: left;
    padding: 0px;
}




/**********************************/
/* ***    navigation.html     *** */
/**********************************/

.menu-item {
    color: white;
}



.thumbnail-image {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.thumbnail-size {
    min-width: 100%;
    max-width: 100%;
	min-height: 325px;
	max-height: 325px;
}

.nav-item-size {
    min-width: 100%;
    max-width: 100%;
    min-height: 250px;
    max-height: 250px;
}

.users-thumbnail-size {
    min-width: 255px;
    max-width: 255px;
    min-height: 325px;
    max-height: 325px;
}

.center-alignment {
    text-align: center;	
}

.artical-link:hover {
	border-color: blue;
}
