<div class="row">
   <div class="col-sm-4 col-md-3" ng-repeat="item in items">
      <a href="{{ navItem.href }}/article/{{ item.unique_id }}" class="thumbnail thumbnail-size" style="text-decoration: none">
         <img class="thumbnail-image" ng-src="{{ host }}resources/assets/images/{{ item.image_name }}" alt="">
         <div class="caption">
            <h3 class="center-alignment">Име : {{ item.name }}</h3>
            <p class="center-alignment">Цена : {{ item.price }} лв.</p>
         </div>
      </a>
   </div>
</div>

<div class="row">
   <div class="col-sm-4 col-md-3" ng-repeat="navItem in navSubItems">
      <a href="{{ navItem.href }}" class="thumbnail nav-item-size" style="text-decoration: none;">
         <div class="thumbnail-image" align="center"><i class="fa fa-folder-o fa-5x"></i></div>
         <div class="caption">
            <h3 class="center-alignment">{{ navItem.displayName }}</h3>
         </div>
      </a>
   </div>
</div>


<div class="modal fade" id="result-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal_label">{{ modalText }}</h4>
            </div>
            <div class="modal-body">
                {{ requestExecutionResult }}
            </div>
        </div>
    </div>
</div>