<div class="template">

   <div ng-include="'../resources/assets/html/navigation.html'"></div>
   
   <div class="nav-link-container col-sm-2" ng-controller="TemplateController">
      <!-- <a class="nav-bar-link btn btn-default">Навигация</a> -->
      <ul class="nav-ul nav nav-pills nav-stacked" style="text-align: center" ng-repeat="navLink in navLinks">
         <li role="presentation" class="nav-bar-link-list">
            <a class="nav-bar-link-elem" href="{{ navLink.navLinkUrl }}">{{ navLink.navLinkName }}</a>
         <li>
      </ul>
   </div>
   
   <div class="content-container col-sm-10">
     <div ng-view></div>
   </div>

</div>